body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: white;
}

/* Resetting default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black; /* Header background color */
    padding: 10px 20px;
    z-index: 1000; /* Ensure header is above other content */
    height: 100px;
}

.logo-container img {
    width: 20px; /* Adjust the size as needed */
    height: 20px;
    margin-right: 10px; /* Adjust spacing between images */
}

.logo img {
    width: 170px; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
    margin-top: 30px;
}

.navbar {
    display: flex;
}

.nav-button {
    color: #fff; /* Button text color */
    text-decoration: none;
    padding: 4px 8px; /* Adjusted padding for smaller buttons */
    margin-right: 5px; /* Adjusted spacing between buttons */
    border-radius: 10px; /* Smaller border radius for smaller buttons */
    font-size: 10px; /* Adjusted font size for smaller text */
    background-color: transparent; /* Add this if you want a transparent background */
    border: 0px solid #fff; /* Add this if you want a border */
}

.nav-button:hover {
    background-color: #f88424;
}

.footer {
    /* Footer styles */
    width: 100%;
    background-color: black;
    height: 100px;
    margin-top: 95px;
}


.button {
    background-color: #f88424;
    color: white;
    height: 35px;
    width: 10px;
    font-family: monospace;
    border: none;
    cursor: pointer;
    border-radius: 50px;
    transition: background-color 0.3s; /* Smooth transition effect */
}


.button:hover {
    background-color: black; /* Change background color on hover */
}


.cart-counter {
    position: absolute;
    top: -10px;
    right: -10px;
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 2px 6px;
    font-size: 12px;
}

@keyframes moveToCart {
    0% {
        opacity: 1;
        transform: translate(0, 0);
    }
    100% {
        opacity: 0;
        transform: translate(var(--moveX), var(--moveY));
    }
}

.clone {
    position: absolute;
    z-index: 1000;
    transition: transform 0.5s ease-in-out;
    animation: moveToCart 0.5s ease-in-out;
}

.cart-icon-container {
    position: relative;
    display: inline-block;
}

.cart-counter {
    position: absolute;
    top: -10px;
    right: -10px;
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 2px 6px;
    font-size: 12px;
}

.footer {
    text-align: center;
    margin-top: 50px;
    padding-top: 20px;
    background-color: black;
    color: white;
}